@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
/*font-family: "Madimi One", sans-serif;*/

#bg{
    background-color: rgb(212, 167, 255);
}

div{
    display: flex;
    align-items: first baseline;
}

img{
    margin: 0;
    width: 150px;
}

h1{
    color: darkgreen;
    font-family: "Madimi One", sans-serif;
}

svg{
    width: 20px;
}

p{
    font-family: "Madimi One", sans-serif;
    margin-left: 10px;
    cursor: pointer;
}

a{
    font-family: "Madimi One", sans-serif;
    margin-left: 10px;
    cursor: pointer;
}

h4{
    color: rgb(238, 62, 22);
    font-family: "Madimi One", sans-serif;
}

li{
    font-family: "Madimi One", sans-serif;
}
